.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    position: relative;
    font-size: 15px;
    margin: 0 4px;
    cursor: url(./cursor/Link.cur), pointer;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.288);
    transition: 0.2s;
    -webkit-tap-highlight-color: transparent;
}